doctype html
html(lang='en')
	head
		title yo
		link(rel='stylesheet', href='/css/main.css')
		base(href='/')

	body(ng-app='blogtest')
		block content

		script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.1.0/lodash.min.js')
		script(src='/js/main.js')
